<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <img #imagePreview alt="" src="/assets/images/placeholder.jpg" class="selected-image">

    <div id="filename" *ngIf="file">{{ file.name }}</div>



    <input type="file" #inputFileElement (change)="setFile()" accept="image/*">

    <ion-button (click)="triggerInputFile()">Select Image</ion-button>
    <!-- <ion-button (click)="triggerModel">model</ion-button> -->
<!--    <ion-button color="success" (click)="classify()" *ngIf="hasValidImage">Classify</ion-button>-->


    <p id="result">
      <span *ngIf="result">Predicted Variety: {{ result }}</span>
      <span *ngIf="result == null && file">Predicting...</span>
    </p>

    <canvas #canvas></canvas>


</ion-content>
