<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div>
    <div>
      This app aims to help local sugarcane farmers and researchers in classifying sugarcane 
      varieties available in farm fields. This application could only recognize 5 sugarcane varieties
      so far. There are two ways to select images for the model to classify: (1) Select cropped sugarcane
      stalk image from local storage, (2) Capture image using back camera and crop the region of interest intended
      for usage.
 
    </div>
    <div>
      <footer style="position: absolute; bottom: 5px;">
        Build Version: 0.0.0.1
      </footer>
    </div>
  </div> 
  

</ion-content>
